U7W4RZ_1015/U7W4RZ_XMLSchemaGPT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="vendeglatas">
        <xs:complexType>
            <xs:sequence>

                <!-- Éttermek -->
                <xs:element name="etterem" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nev" type="xs:string"/>
                            <xs:element name="cim">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="varos" type="xs:string"/>
                                        <xs:element name="utca" type="xs:string"/>
                                        <xs:element name="hazszam" type="xs:integer"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="csillag" type="xs:integer"/>
                        </xs:sequence>
                        <xs:attribute name="ekod" type="xs:ID" use="required"/>
                    </xs:complexType>
                </xs:element>

                <!-- Főszakácsok -->
                <xs:element name="foszakacs" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nev" type="xs:string"/>
                            <xs:element name="eletkor" type="xs:integer"/>
                            <xs:element name="vegzettseg" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="fkod" type="xs:ID" use="required"/>
                        <xs:attribute name="e_f" type="xs:IDREF" use="required"/>
                    </xs:complexType>
                </xs:element>

                <!-- Szakácsok -->
                <xs:element name="szakacs" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nev" type="xs:string"/>
                            <xs:element name="reszleg" type="xs:string"/>
                            <xs:element name="vegzettseg" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="szkod" type="xs:ID" use="required"/>
                        <xs:attribute name="e_sz" type="xs:IDREF" use="required"/>
                    </xs:complexType>
                </xs:element>

                <!-- Gyakornokok -->
                <xs:element name="gyakornok" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nev" type="xs:string"/>
                            <xs:element name="gyakorlat">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="kezdete" type="xs:date"/>
                                        <xs:element name="idotartama" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="muszak" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="gykod" type="xs:ID" use="required"/>
                        <xs:attribute name="e_gy" type="xs:IDREF" use="required"/>
                    </xs:complexType>
                </xs:element>

                <!-- Vendégek -->
                <xs:element name="vendeg" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nev" type="xs:string"/>
                            <xs:element name="eletkor" type="xs:integer"/>
                            <xs:element name="cim">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="varos" type="xs:string"/>
                                        <xs:element name="utca" type="xs:string"/>
                                        <xs:element name="hazszam" type="xs:integer"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="vkod" type="xs:ID" use="required"/>
                        <xs:attribute name="e_v" type="xs:IDREF" use="required"/>
                    </xs:complexType>
                </xs:element>

                <!-- Rendelések -->
                <xs:element name="rendeles" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="osszeg" type="xs:integer"/>
                            <xs:element name="etel" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="e_v_e" type="xs:IDREF" use="required"/>
                        <xs:attribute name="e_v_v" type="xs:IDREF" use="required"/>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
