U7W4RZ_XMLTask/feladat_1/U7W4RZ_XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- ===================== Saját típusok ===================== -->
  <xs:simpleType name="telefonszamTipus">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+?[0-9 \-()]{6,30}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tajTipus">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{9}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="statuszTipus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="lefoglalt" />
      <xs:enumeration value="lezart" />
      <xs:enumeration value="lemondott" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sikeressegTipus">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="5" />
    </xs:restriction>
  </xs:simpleType>

  <!-- ===================== Elemek sorrendje ===================== -->
  <xs:element name="egeszsegugy">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="orvos" type="orvosTipus" maxOccurs="unbounded" />
        <xs:element name="paciens" type="paciensTipus" maxOccurs="unbounded" />
        <xs:element name="karton" type="kartonTipus" maxOccurs="unbounded" />
        <xs:element name="kezeles" type="kezelesTipus" maxOccurs="unbounded" />
        <xs:element name="idopont" type="idopontTipus" maxOccurs="unbounded" />
        <xs:element name="recept" type="receptTipus" maxOccurs="unbounded" />
        <xs:element name="elvegzettKezeles" type="elvegzettKezelesTipus" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>

    <!-- ===================== PRIMARY / FOREIGN KEYS ===================== -->
    <xs:key name="orvos_pk">
      <xs:selector xpath="orvos" />
      <xs:field xpath="@id" />
    </xs:key>

    <xs:key name="paciens_pk">
      <xs:selector xpath="paciens" />
      <xs:field xpath="@id" />
    </xs:key>

    <!-- KARTON kulcsok -->
    <xs:key name="karton_pk">
      <xs:selector xpath="karton" />
      <xs:field xpath="@id" />
    </xs:key>

    <!-- Egy pácienshez legfeljebb egy karton -->
    <xs:unique name="egy_karton_paciensenkent">
      <xs:selector xpath="karton" />
      <xs:field xpath="@paciens_ref" />
    </xs:unique>

    <!-- Karton páciens kapcsolat -->
    <xs:keyref name="karton_paciens_fk" refer="paciens_pk">
      <xs:selector xpath="karton" />
      <xs:field xpath="@paciens_ref" />
    </xs:keyref>

    <xs:key name="kezeles_pk">
      <xs:selector xpath="kezeles" />
      <xs:field xpath="@id" />
    </xs:key>

    <xs:key name="recept_pk">
      <xs:selector xpath="recept" />
      <xs:field xpath="@id" />
    </xs:key>

    <xs:key name="idopont_pk">
      <xs:selector xpath="idopont" />
      <xs:field xpath="@id" />
    </xs:key>

    <!-- Foreign key kapcsolatok -->
    <xs:keyref name="idopont_orvos_fk" refer="orvos_pk">
      <xs:selector xpath="idopont" />
      <xs:field xpath="@orvos_ref" />
    </xs:keyref>

    <xs:keyref name="idopont_paciens_fk" refer="paciens_pk">
      <xs:selector xpath="idopont" />
      <xs:field xpath="@paciens_ref" />
    </xs:keyref>

    <xs:keyref name="recept_orvos_fk" refer="orvos_pk">
      <xs:selector xpath="recept" />
      <xs:field xpath="@orvos_ref" />
    </xs:keyref>

    <xs:keyref name="recept_kezeles_fk" refer="kezeles_pk">
      <xs:selector xpath="recept" />
      <xs:field xpath="@kezeles_ref" />
    </xs:keyref>

    <xs:keyref name="elvegzett_paciens_fk" refer="paciens_pk">
      <xs:selector xpath="elvegzett_kezeles" />
      <xs:field xpath="@paciens_ref" />
    </xs:keyref>

    <xs:keyref name="elvegzett_kezeles_fk" refer="kezeles_pk">
      <xs:selector xpath="elvegzett_kezeles" />
      <xs:field xpath="@kezeles_ref" />
    </xs:keyref>
  </xs:element>

  <!-- ===================== ORVOSOK ===================== -->
  <xs:complexType name="orvosTipus">
    <xs:sequence>
      <xs:element name="nev" type="xs:string" />
      <xs:element name="szakterulet" type="xs:string" />
      <xs:element name="telefonszam" type="telefonszamTipus" maxOccurs="unbounded" />
      <xs:element name="rendeloSzoba" type="xs:int" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required" />
  </xs:complexType>

  <!-- ===================== PACIENSEK ===================== -->
  <xs:complexType name="paciensTipus">
    <xs:sequence>
      <xs:element name="nev" type="xs:string" />
      <xs:element name="cim" type="cimTipus" />
      <xs:element name="szuletesiDatum" type="xs:date" />
      <xs:element name="taj" type="tajTipus" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required" />
  </xs:complexType>

  <!-- ===================== CIM ===================== -->
  <xs:complexType name="cimTipus">
    <xs:sequence>
      <xs:element name="iranyitoszam" type="xs:int" />
      <xs:element name="varos" type="xs:string" />
      <xs:element name="utca" type="xs:string" />
      <xs:element name="hazszam" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <!-- ===================== KARTONOK (1:1 PÁCIENSHEZ) ===================== -->
  <xs:complexType name="kartonTipus">
    <xs:sequence>
      <xs:element name="vercsoport" type="xs:string" />
      <xs:element name="allergiak" type="xs:string" />
      <xs:element name="kronikusBetegsegek" type="xs:string" />
      <xs:element name="megjegyzes" type="xs:string" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required" />
    <xs:attribute name="paciens_ref" type="xs:IDREF" use="required" />
  </xs:complexType>

  <!-- ===================== KEZELESEK ===================== -->
  <xs:complexType name="kezelesTipus">
    <xs:sequence>
      <xs:element name="tipus" type="xs:string" />
      <xs:element name="leiras" type="xs:string" />
      <xs:element name="ar" type="xs:integer" />
      <xs:element name="idotartam" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required" />
  </xs:complexType>

  <!-- ===================== IDŐPONTOK ===================== -->
  <xs:complexType name="idopontTipus">
    <xs:sequence>
      <xs:element name="datum" type="xs:date" />
      <xs:element name="kezdesIdo" type="xs:time" />
      <xs:element name="befejezesIdo" type="xs:time" />
      <xs:element name="statusz" type="statuszTipus" />
      <xs:element name="megjegyzes" type="xs:string" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required" />
    <xs:attribute name="orvos_ref" type="xs:IDREF" use="required" />
    <xs:attribute name="paciens_ref" type="xs:IDREF" use="required" />
  </xs:complexType>

  <!-- ===================== RECEPTEK ===================== -->
  <xs:complexType name="receptTipus">
    <xs:sequence>
      <xs:element name="gyogyszerNev" type="xs:string" />
      <xs:element name="adagolas" type="xs:string" />
      <xs:element name="kiallitasDatum" type="xs:date" />
      <xs:element name="ervenyesseg" type="xs:date" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required" />
    <xs:attribute name="orvos_ref" type="xs:IDREF" use="required" />
    <xs:attribute name="kezeles_ref" type="xs:IDREF" use="required" />
  </xs:complexType>

  <!-- ===================== ELVÉGZETT KEZELÉSEK ===================== -->
  <xs:complexType name="elvegzettKezelesTipus">
    <xs:sequence>
      <xs:element name="datum" type="xs:date" />
      <xs:element name="sikeresseg" type="sikeressegTipus" />
      <xs:element name="megjegyzes" type="xs:string" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="paciens_ref" type="xs:IDREF" use="required" />
    <xs:attribute name="kezeles_ref" type="xs:IDREF" use="required" />
  </xs:complexType>
</xs:schema>