U7W4RZ_0924/U7W4RZ_orarend.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT U7W4RZ_orarend (ora)*>

<!ELEMENT ora (targy+,szinesz+,iro+)>
<!ATTLIST film id ID #REQUIRED>
<!ATTLIST film mufaj (horror | romantikus | thriller) "horror">

<!ELEMENT rendezo EMPTY>
<!ATTLIST rendezo id ID #REQUIRED>
<!ATTLIST rendezo nev CDATA #IMPLIED>

<!ELEMENT szinesz EMPTY>
<!ATTLIST szinesz id CDATA #REQUIRED>
<!ATTLIST szinesz nev CDATA #IMPLIED>

<!ELEMENT iro EMPTY>
<!ATTLIST iro id ID #REQUIRED>